@import url("https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap");

.App {
  text-align: center;
  background-position: center center;
  background: radial-gradient(circle, #500d25, #350819);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-attachment: fixed;
  margin:0;
}
:root{
  --font:"Mountains of Christmas", cursive;
}
.padre{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.navbar {
  background-color: rgb(238, 212, 155);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  
}
.navbar-content{
 background-color:transparent;
 display: flex;
 justify-content: space-between;
 width: 90%;
 margin-top: 15px;
 margin-bottom: 15px;
}



.navbar-content p{
  font-family: var(--font);
  color:#500d25;
  font-size: 22px;
}

.navbar-content img {
  width: 10%;
}

.SignOut{
  background-color:transparent ;
  font-family: var(--font);
  color:  #63112e;
  font-size: 15px;
 border-color: #500d25;
  width: 74px;
  height: 46px;
  margin-top: 18px;
}

.createNote {
  background-color: transparent;
  border-color: transparent;
}

.createNote img:hover{
  transform: scale(1.5);
}

.modal-contenido {
  background-image: url(https://i.pinimg.com/564x/4c/65/f9/4c65f913798dcd566fb929d0973a37e6.jpg);
  width: 500px;
  height: 350px;
  padding: 10px 20px;
  margin: 15% auto;
  position: relative;
  display: flex;
  flex-direction: column;
}
.Date {
  background-color: transparent;
  font-family: var(--font);
  font-size: 15px;
  border: 0;
  margin-bottom: 10px;
  margin-right: 270px;
  opacity: 0.5;
  margin-top: 15px;
}
.Title {
  background-color: transparent;
  font-family: var(--font);
  font-size: 17px;
  border: 0;
  margin-bottom: 10px;
  width: 400px;
  opacity: 0.6;
}
.descriptionNote {
  background-color: transparent;
  font-family: var(--font);
  font-size: 17px;
  border: 0;
  margin-bottom: 10px;
  width: 400px;
  height: 200px;
  opacity: 0.6;
}
.Button {
  background-color: #500d25;
  font-family: var(--font);
  color: white;
  font-size: 20px;
  border: 0;
  width: 150px;
  height: 40px;
}

.modal {
  background-color: rgba(73, 73, 73, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  transition: all 1s;
}

.header{
  display:flex;
  justify-content: center;
  margin-top: 30px;

}
.header img{
  width: 80%;
  margin-top: 20px;
}

.searchText{
  margin-top: 50px;
  margin-left: 50px;
  border-color:rgb(238, 212, 155);
  background-color: transparent;
  height: 30px;
  width: 300px;
  border-radius: 30px;
  font-family: var(--font);
  font-size: 20px;
  padding-left: 20px;
}


.titlePrint{
  font-family: var(--font);
  color:rgb(238, 212, 155);
}

.print{
  
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    margin-top: 3vh;
    justify-content: center;
  
}

.printNotes {
  display: flex;
  justify-content: center;
    background-image: url("./assets/paper.jpg");
    height: 348px;
    width: 40%;
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 30px;
    font-family: var(--font);
    font-size: 25px;
    box-shadow: 20px 30px 100px -60px whitesmoke;

}
.title-print{
  color:#500d25;
}
.content{
  width: 80%;
  
}
.buttomPrint{
  background-color: transparent;
  border-color: transparent;
  
}

.imgPrint {
  width:30px;
  
}
.buttomDelete{
  border-color:#500d25;
  background-color: transparent;
  font-family: var(--font);
  color: #500d25;
  font-size: 1rem;
  height: 2em;
  margin-right: 2em;
  border-radius: 0.2em;
}