@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap');

.App {
  text-align: center;
  background-color:#500d25;
  height: 100vh;
}

.navbar{
  background-color: rgb(238, 196, 145);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:left;
}

.createNote{
  background-color:transparent;
  border-color: transparent;
}

 .modal-contenido{
  background-image: url(https://i.pinimg.com/564x/4c/65/f9/4c65f913798dcd566fb929d0973a37e6.jpg);
  width:500px;
  height: 350px;
  padding: 10px 20px;
  margin: 15% auto;
  position: relative;
  display: flex;
  flex-direction:column;

  
}
.Date{
  background-color:transparent;
  font-family: 'Mountains of Christmas', cursive;
  font-size: 15px;
  border: 0;
  margin-bottom: 10px;
  margin-right: 270px;
  opacity: .5;
  margin-top: 15px;
  
}
.Title{
  background-color:transparent;
  font-family: 'Mountains of Christmas', cursive;
  font-size: 17px;
  border: 0;
  margin-bottom: 10px;
  width: 400px;
  opacity: .6;
}
.descriptionNote{
  background-color:transparent;
  font-family: 'Mountains of Christmas', cursive;
  font-size: 17px;
  border: 0;
  margin-bottom: 10px;
  width: 400px;
  height:200px ;
  opacity: .6;
  }
.Button{
  background-color: #800;
  font-family: 'Mountains of Christmas', cursive;
  color: white;
  font-size:20px;
  border: 0;
  width: 150px;
  height: 40px;

}


.modal{
  background-color: rgba(73, 73, 73, 0.8);
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0; 
  opacity:0;
  pointer-events:none; 
  transition: all 1s;
}
#miModal:target{
  opacity:1;
  pointer-events:auto;
}
.Print{
  display: flex;


}
.printNotes{
  display: flex;
  flex-direction: column;
  background-image: url(https://i.pinimg.com/564x/4c/65/f9/4c65f913798dcd566fb929d0973a37e6.jpg);
  width:300px;
  height: 350px;
  margin-bottom: 20px;
}
